<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs</title>
    <link rel="stylesheet" type="text/css" href="tab.css">

    <link rel="stylesheet" href="../../base/base.css">
    <link rel="stylesheet" href="../../base/text-theme.css">

</head>

<body>
    <header>
        <h1 class="text-display-1">
            Tabs
        </h1>
    </header>

    <hr>

    <section>
        <h2>Fixed</h2>
        <div class="tabs">
            <a href="#" class="tab-item active">
                TAB
            </a>
            <a class="tab-item " href="#">
                TAB
            </a>
            <a class="tab-item " href="#">
                TAB
            </a>
            <a class="tab-item " href="#">
                TAB
            </a>
        </div>

        <br>
        <br>
        <br>

        <div class="tabs">
            <a href="#" class="tab-item active">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
            </a>
        </div>

        <br>
        <br>
        <br>

        <div class="tabs">
            <a href="#" class="tab-item active">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
                Icon Tab
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
                Icon Tab
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
                Icon Tab
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
                Icon Tab
            </a>
        </div>

        <br>
        <br>
        <br>



        <hr>
        <h2>Scrollable</h2>

        <div class="tabs tab-scrollable">
            <a href="#" class="tab-item active">
                TAB TAB TAB
            </a>
            <a class="tab-item " href="#">
                TAB TABTAB
            </a>
            <a class="tab-item " href="#">
                TABTAB TAB
            </a>
            <a class="tab-item " href="#">
                TAB TABTAB
            </a>
        </div>

        <br>
        <br>
        <br>

        <div class="tabs tab-scrollable">
            <a href="#" class="tab-item active">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
            </a>
        </div>

        <br>
        <br>
        <br>

        <div class="tabs tab-scrollable">
            <a href="#" class="tab-item active">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
                Icon Tab
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
                Icon Tab
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
                Icon Tab
            </a>
            <a class="tab-item " href="#">
                <svg height="24" width="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 002 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                        fill="#fff" /></svg>
                Icon Tab
            </a>
        </div>

        <br>
        <br>
        <br>

        <div class="articles">
            <article id="tab#1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                    dolore numquam quo dolores exercitationem suscipit blanditiis repellendus
                    reprehenderit, ducimus eum architecto laborum?</p>
            </article>
            <article id="tab#2">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet ex libero f
                    ugiat molestias dolor sed numquam, qui voluptate quod, vel maxime, blandi
                    tiis voluptas?</p>
            </article>
            <article id="tab#3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, consectetur
                    exercitationem. Corporis aut, ab beatae suscipit, accusantium reprehenderit
                    necessitatibus, temporibus ipsam consequuntur vero doloribus?</p>
            </article>
            <article id="tab#4">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis deserunt
                    veritatis magni perferendis est consequuntur, ullam unde eum laboriosam sint
                    neque soluta nam doloribus quia.</p>
            </article>
            <article id="tab#5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium ducimus
                    repellendus minus asperiores fugiat iure ratione nobis iste dolorum, nihil
                    omnis, a, expedita sed fugit quasi.</p>
            </article>
            <article id="tab#6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente id rem quia.
                    Quidem delectus, nobis quo nihil facilis ea tempore recusandae? Voluptas expedita rerum sed neque
                    provident?</p>
            </article>
        </div>
        </div>
    </section>


</body>

</html>