<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Dato</title>
	
	<link rel="stylesheet" href="banersyl.css">
	<link rel="stylesheet" href="/components/buttons/buttons.css">

</head>

<body>
	<div class="Ban">
		<Sect class="sectionText">
			<a>Lorem ipsum dolor sit amet lore dolor</a>
		</Sect>
		<section class="sectionButtons">
			<button class="btn">Action</button>
		</section>
	</div>
	
	<div class="Ban">
		<Sect class="sectionText">
			<a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae delectus pariatur enim repudiandae
				dolor</a>
		</Sect>
		<section class="sectionButtons">
			<button class="btn">Action</button>

		</section>
		<section class="sectionButtons">
			<button class="btn">Action</button>
		</section>
	</div>
</body>