.banner-base {
    --banner-width: 450px;
    --banner-padding: var(--space-4);
    width: var(--banner-width);
    display: flex;
    background: var(--color-white);
    padding: var(--banner-padding);
}

.banner-one-line {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner-one-line>*:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner-one-line .button {
    margin-right: var(--space-n-3);
}

.banner-two-lines {
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.banner-base .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: var(--space-n-2);
    margin-right: var(--space-n-3);
}

.banner-two-lines-icon {
    flex-direction: row;
    align-items: flex-start;
}

.banner-two-lines-icon .icon {
    margin-right: var(--space-n-4);
}

.banner-two-lines-icon .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}