<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../ui-components.css">
    <script src="https://kit.fontawesome.com/fa1c616d6e.js" crossorigin="anonymous"></script>

</head>

<body class="container">
    <h1>
        Text Field
    </h1>
    <hr>
    <main>

        <div class="text-field">
            <div class="text-field-outline">
                <label for="">Label</label>
                <input type="text">
                <button>
                    <i class="fas fa-lock-open"></i>
                </button>
            </div>
            <span class="text-error">
                Ocurrio un error
            </span>
            <span class="text-info">
                Debe contener 6 caracteres
            </span>
        </div>
        <div class="text-field">
            <div class="text-field-outline">
                <label for="">Label</label>
                <input type="text">
                <div>
                    <button class="button">
                        <i class="fas fa-lock-open"></i>
                    </button>
                    <button class="button">
                        <i class="fas fa-lock-open"></i>
                    </button>
                </div>
            </div>
            <span class="text-error">
                Ocurrio un error
            </span>
            <span class="text-info">
                Debe contener 6 caracteres
            </span>
        </div>
        <div class="text-field text-field-error">
            <div class="text-field-outline">
                <label for="">Label</label>
                <input type="text">
                <div class="icon">
                    <i class="fas fa-lock-open"></i>
                </div>
            </div>
            <span class="text-error">
                Ocurrio un error
            </span>
            <span class="text-info">
                Debe contener 6 caracteres
            </span>
        </div>


    </main>

</body>

</html>