.text-field {
    --text-field-outline-color: var(--color-high-contrast);
}

.text-field>*:not(:last-child) {
    margin-bottom: var(--space-2);
}

.text-field-outline {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--text-field-outline-color);
    border-radius: 4px;
}

.text-field-outline:focus-within {
    --text-field-outline-color: var(--color-primary);
    color: var(--text-field-outline-color);
}

.text-field-outline input, .text-field-outline textarea {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: var(--space-5) var(--space-4);
    border-radius: 4px;
}

.text-field-outline>*:not(input):not(textarea) {
    margin: 0 16px;
    color: var(--text-field-outline-color);
}

.text-field-outline>label {
    position: absolute;
    top: 0;
    padding: 0 4px;
    margin-left: -4px;
    background-color: white;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    color: var(--text-field-outline-color);
}

.text-field-error {
    --text-field-outline-color: var(--color-danger);
}

.text-error {
    display: block;
    color: var(--color-danger);
}

.text-field .text-error {
    display: none;
}

.text-field-error .text-info {
    display: none;
}

.text-field-error .text-error {
    display: block;
}