<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="snackbars.css">
    <link rel="stylesheet" type="text/css" href="/components/buttons/buttons.css" media="print">
</head>

<body>
    <header>
        <h1>Snackbars</h1>
    </header>

    <section>
        <h2>Snackbars</h2>
    </section>

    <section>
        <div id="mySnackbar">Onli tine text string.</div>   
        <H4>Single line</H4>
        
        <div id="mySnackbar-one">Two lines text string. 
            One two lines is preferable on mobile and tablet.</div>    
        <h4>Two lines</h4>

        <div id="mySnackbar-two">One line text string one action.
            <button class="btn btn-action">Action</button></div>
        <h4>Single line with a button</h4>

        <div id="mySnackbar-tree">Two lines with one action. 
            One to two lines is preferable on mobile.
            <button class="btn btn-action">Action</button></div>
        <h4>Two lines with a button</h4>
    </section>
</body>

</html>