.snackbar-base {
  color: #ffff;
  background: rgb(31, 31, 31);
  border-radius: 4px;
  font-size: 20px;
  padding: 16px;
  font-family: roboto;
  width: 364px;
  display: flex;
}

.snackbar-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.single-line-snackbar {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snackbar-row .btn {
  margin-left: 8px;
}

.snackbar-column {
  flex-direction: column;
  align-items: stretch;
}

.snackbar-column .btn {
  align-self: flex-end;
}

/*----Single line with a button----*/

/* #mySnackbar-two {
  color: #ffff;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  font-size: 20px;
  font-family: roboto;
  text-align: left;
  padding: 16px;
  position: initial;
  bottom: 30px;
  left: 30%;
  width: 40%;
  z-index: 1;
  visibility: visible;
  letter-spacing: 0.25px;
} */

/*----Two lines with a button----*/

/* 
#mySnackbar-tree {
  color: #ffff;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  font-size: 20px;
  font-family: roboto;
  text-align: left;
  padding: 16px;
  position: initial;
  bottom: 30px;
  left: 30%;
  width: 40%;
  z-index: 1;
  visibility: visible;
  letter-spacing: 0.25px;
} */

/*
.btn {
  display: inline-block;
  padding: 10px 7px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Helvetica';
  font-weight: 600;
  color: #6200EE;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 4px;
}

.btn:hover:not(:disabled), .btn:hover:not(.disabled) {
  background-color: rgba(99, 0, 238, 0.089);
}

.btn:focus:not(:disabled), .btn:focus:not(.disabled) {
  background-color: rgba(99, 0, 238, 0.192);
}

.btn:disabled, .btn.disabled {
  color: #00000038;
  pointer-events: none;
}
*/