.card {
    --card-border-radius: var(--space-1);
    --card-inner-padding: var(--space-4);
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: var(--card-border-radius);
    color: var(--color-low-contrast);
    width: 100%;
}

/*Encabezado de la carta- header card*/

.card .card_header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--card-inner-padding);
}

/*titulo del encabezado - Title header*/

.card .titles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*icon header card*/

.card .icon {
    margin-right: var(--card-inner-padding);
}

/* pie de la carta - foot card*/

.card .content {
    padding: var(--card-inner-padding);
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .content .actions {
    align-self: flex-start;
    margin-top: var(--space-2);
    margin-left: var(--space-n-3);
    margin-bottom: var(--space-n-2);
}