.btn {
    display: inline-block;
    padding: 10px 7px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Helvetica';
    font-weight: 600;
    color: var(--color-base);
    transition: ease-in-out 0.3s;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 4px;
}

.btn:hover:not(:disabled), .btn:hover:not(.disabled) {
    background-color: rgba(99, 0, 238, 0.089);
}

.btn:focus:not(:disabled), .btn:focus:not(.disabled) {
    background-color: rgba(99, 0, 238, 0.192);
}

.btn:disabled, .btn.disabled {
    color: #00000038;
    pointer-events: none;
}

/* Button primary */

.btn.btn-primary {
    color: var(--color-primary);
}

.btn.btn-primary:hover:not(:disabled), .btn.btn-primary:hover:not(.disabled), .btn.btn-primary:focus:not(:disabled), .btn.btn-primary:focus:not(.disabled) {
    background-color: var(--color-primary-light);
}

/* Button Warn */

.btn.btn-warn {
    color: var(--color-accent);
}

.btn.btn-warn:hover:not(:disabled), .btn.btn-warn:hover:not(.disabled) {
    background-color: rgba(209, 185, 50, 0.157);
}

.btn.btn-warn:focus:not(:disabled), .btn.btn-warn:focus:not(.disabled) {
    background-color: rgba(209, 185, 50, 0.425);
}

/* Button Danger */

.btn.btn-danger {
    color: var(--color-error);
}

.btn.btn-danger:hover:not(:disabled), .btn.btn-danger:hover:not(.disabled) {
    background-color: rgba(128, 0, 21, 0.15);
}

.btn.btn-danger:focus:not(:disabled), .btn.btn-danger:focus:not(.disabled) {
    background-color: rgba(128, 0, 21, 0.301);
}

/*  */

/*  */

/* Btn Outline */

/*  */

/*  */

.btn-outline {
    display: inline-block;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Helvetica';
    font-weight: 600;
    color: var(--color-base);
    transition: ease-in-out 0.3s;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 4px;
}

.btn-outline:hover:not(:disabled), .btn-outline:hover:not(.disabled) {
    background-color: rgba(99, 0, 238, 0.089);
}

.btn-outline:focus:not(:disabled), .btn-outline:focus:not(.disabled) {
    background-color: rgba(99, 0, 238, 0.192);
}

.btn-outline:disabled, .btn-outline.disabled {
    color: #00000038;
    pointer-events: none;
}

/* Button primary */

.btn-outline.btn-primary {
    color: var(--color-primary);
}

.btn-outline.btn-primary:hover:not(:disabled), .btn-outline.btn-primary:hover:not(.disabled) {
    background-color: rgba(0, 128, 128, 0.15);
}

.btn-outline.btn-primary:focus:not(:disabled), .btn-outline.btn-primary:focus:not(.disabled) {
    background-color: rgba(0, 128, 128, 0.301);
}

/* Button Warn */

.btn-outline.btn-warn {
    color: var(--color-accent);
}

.btn-outline.btn-warn:hover:not(:disabled), .btn-outline.btn-warn:hover:not(.disabled) {
    background-color: rgba(209, 185, 50, 0.157);
}

.btn-outline.btn-warn:focus:not(:disabled), .btn-outline.btn-warn:focus:not(.disabled) {
    background-color: rgba(209, 185, 50, 0.425);
}

/* Button Danger */

.btn-outline.btn-danger {
    color: var(--color-error);
}

.btn-outline.btn-danger:hover:not(:disabled), .btn-outline.btn-danger:hover:not(.disabled) {
    background-color: rgba(128, 0, 21, 0.15);
}

.btn-outline.btn-danger:focus:not(:disabled), .btn-outline.btn-danger:focus:not(.disabled) {
    background-color: rgba(128, 0, 21, 0.301);
}

/*  */

/*  */

/* Btn Contained */

/*  */

/*  */

.btn-contained {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Helvetica';
    font-weight: 600;
    transition: ease-in-out 0.3s;
    border-radius: 4px;
    background: var(--color-base);
    border: 1px solid var(--color-base);
    letter-spacing: 1.25px;
    color: var(--color-white);
}

/* Button Contained Hover */

.btn-contained:hover:not(:disabled), .btn-contained:hover:not(.disabled) {
    background: var(--color-white);
    color: var(--color-base);
}

/* Button Contained Focused */

.btn-contained:focus:not(:disabled), .btn-contained:focus:not(.disabled) {
    border: 1px solid rgba(44, 3, 83, 0.979);
    background-color: rgba(44, 3, 83, 0.979);
    color: #FFFFFF;
}

/* Button Contained Disable */

.btn-contained:disabled, .btn-contained.disabled {
    color: rgba(0, 0, 0, 0.38);
    pointer-events: none;
    background-color: transparent;
    border: none;
}