/* base buttons */

.button, .button-outline, .button-contained {
    /* defaults */
    --button-background-color: var(--button-contrast-color);
    --button-border-color: var(--button-background:);
    --button-text-color: var(--button-primary-color);
    --button-border-radius: var(--space-1);
    --button-padding: var(--space-2) var(--space-3);
    /* style button */
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.3s;
    padding: var(--button-padding);
    color: var(--button-text-color);
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background-color);
    text-decoration: none;
}

/*  */

/*  */

/* BASE BUTTON */

/*  */

/*  */

.button {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-black);
}

.button:hover, .button:hover {
    --button-background-color: var(--color-high-contrast);
    --button-text-color: var(--color-black);
}

.button.button-primary {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-primary);
}

.button.button-primary:hover, .button.button-primary:hover {
    --button-background-color: var(--color-primary-lighter);
    --button-border-color: var(--color-primary-lighter);
    --button-text-color: var(--color-primary);
}

.button.button-warn {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-warn);
}

.button.button-warn:hover, .button.button-warn:hover {
    --button-background-color: var(--color-warn-lighter);
    --button-border-color: var(--color-warn-lighter);
    --button-text-color: var(--color-warn);
}

.button.button-danger {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-danger);
}

.button.button-danger:hover, .button.button-danger:hover {
    --button-background-color: var(--color-danger-lighter);
    --button-border-color: var(--color-danger-lighter);
    --button-text-color: var(--color-danger);
}

.button:disabled, .button.disabled {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-reduce-contrast);
    pointer-events: none;
}

/*  */

/* button OUTLINE */

/*  */

.button-outline {
    --button-background-color: transparent;
    --button-border-color: var(--color-high-contrast);
    --button-text-color: var(--color-black);
}

.button-outline:hover, .button-outline:hover {
    --button-background-color: var(--color-high-contrast);
    --button-border-color: var(--color-reduce-contrast);
}

.button-outline.button-primary {
    --button-background-color: transparent;
    --button-border-color: var(--color-high-contrast);
    --button-text-color: var(--color-primary);
}

.button-outline.button-primary:hover, .button-outline.button-primary:hover {
    --button-background-color: var(--color-primary-lighter);
    --button-border-color: var(--color-primary);
}

.button-outline.button-warn {
    --button-background-color: transparent;
    --button-border-color: var(--color-high-contrast);
    --button-text-color: var(--color-warn);
}

.button-outline.button-warn:hover, .button-outline.button-warn:hover {
    --button-background-color: var(--color-warn-lighter);
    --button-border-color: var(--color-warn);
}

.button-outline.button-danger {
    --button-background-color: transparent;
    --button-border-color: var(--color-high-contrast);
    --button-text-color: var(--color-danger);
}

.button-outline.button-danger:hover, .button-outline.button-danger:hover {
    --button-background-color: var(--color-danger-lighter);
    --button-border-color: var(--color-danger);
}

.button-outline:disabled, .button-outline.disabled {
    --button-background-color: transparent;
    --button-border-color: var(--color-danger-lighter);
    --button-text-color: var(--color-reduce-contrast);
    pointer-events: none;
}

/*  */

/* button CONTAINED */

/*  */

.button-contained {
    --button-background-color: var(--color-low-contrast);
    --button-border-color: var(--color-low-contrast);
    --button-text-color: var(--color-white);
}

.button-contained:hover, .button-contained:hover {
    --button-background-color: var(--color-reduce-contrast);
    --button-border-color: var(--color-reduce-contrast);
}

.button-contained.button-primary {
    --button-background-color: var(--color-primary);
    --button-border-color: var(--color-primary);
    --button-text-color: var(--color-white);
}

.button-contained.button-primary:hover, .button-contained.button-primary:hover {
    --button-background-color: var(--color-primary-light);
    --button-border-color: var(--color-primary-light);
}

.button-contained.button-warn {
    --button-background-color: var(--color-warn);
    --button-border-color: var(--color-warn);
    --button-text-color: var(--color-black);
}

.button-contained.button-warn:hover, .button-contained.button-warn:hover {
    --button-background-color: var(--color-warn-light);
    --button-border-color: var(--color-warn-light);
}

.button-contained.button-danger {
    --button-background-color: var(--color-danger);
    --button-border-color: var(--color-danger);
    --button-text-color: var(--color-white);
}

.button-contained.button-danger:hover, .button-contained.button-danger:hover {
    --button-background-color: var(--color-danger-light);
    --button-border-color: var(--color-danger-light);
}

.button-contained:disabled, .button-contained.disabled {
    --button-background-color: var(--color-reduce-contrast);
    --button-border-color: var(--button-border-color);
    --button-text-color: var(--color-white);
    pointer-events: none;
}