/* base buttons */

.btn, .btn-outline, .btn-contained {
    /* defaults */
    --button-background-color: var(--button-contrast-color);
    --button-border-color: var(--button-background:);
    --button-text-color: var(--button-primary-color);
    --button-border-radius: var(--space-1);
    --button-padding: var(--space-2) var(--space-3);
    /* style button */
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.3s;
    padding: var(--button-padding);
    color: var(--button-text-color);
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background-color);
}

/*  */

/*  */

/* BASE BUTTON */

/*  */

/*  */

.btn {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-black);
}

.btn:hover, .btn:hover {
    --button-background-color: var(--color-dark-lighter);
    --button-border-color: var(--color-dark-lighter);
    --button-text-color: var(--color-black);
}

.btn.btn-primary {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-primary);
}

.btn.btn-primary:hover, .btn.btn-primary:hover {
    --button-background-color: var(--color-primary-lighter);
    --button-border-color: var(--color-primary-lighter);
    --button-text-color: var(--color-primary);
}

.btn.btn-warn {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-warn);
}

.btn.btn-warn:hover, .btn.btn-warn:hover {
    --button-background-color: var(--color-warn-lighter);
    --button-border-color: var(--color-warn-lighter);
    --button-text-color: var(--color-warn);
}

.btn.btn-danger {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-danger);
}

.btn.btn-danger:hover, .btn.btn-danger:hover {
    --button-background-color: var(--color-danger-lighter);
    --button-border-color: var(--color-danger-lighter);
    --button-text-color: var(--color-danger);
}

.btn:disabled, .btn.disabled {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-dark-lighter);
    pointer-events: none;
}

/*  */

/* BTN OUTLINE */

/*  */

.btn-outline {
    --button-background-color: transparent;
    --button-border-color: var(--color-dark-lighter);
    --button-text-color: var(--color-black);
}

.btn-outline:hover, .btn-outline:hover {
    --button-background-color: var(--color-dark-lighter);
    --button-border-color: var(--color-black);
}

.btn-outline.btn-primary {
    --button-background-color: transparent;
    --button-border-color: var(--color-dark-lighter);
    --button-text-color: var(--color-primary);
}

.btn-outline.btn-primary:hover, .btn-outline.btn-primary:hover {
    --button-background-color: var(--color-primary-lighter);
    --button-border-color: var(--color-primary);
}

.btn-outline.btn-warn {
    --button-background-color: transparent;
    --button-border-color: var(--color-dark-lighter);
    --button-text-color: var(--color-warn);
}

.btn-outline.btn-warn:hover, .btn-outline.btn-warn:hover {
    --button-background-color: var(--color-warn-lighter);
    --button-border-color: var(--color-warn);
}

.btn-outline.btn-danger {
    --button-background-color: transparent;
    --button-border-color: var(--color-dark-lighter);
    --button-text-color: var(--color-danger);
}

.btn-outline.btn-danger:hover, .btn-outline.btn-danger:hover {
    --button-background-color: var(--color-danger-lighter);
    --button-border-color: var(--color-danger);
}

.btn-outline:disabled, .btn-outline.disabled {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-dark-lighter);
    pointer-events: none;
}

/*  */

/* BTN CONTAINED */

/*  */

.btn-contained {
    --button-background-color: var(--color-dark);
    --button-border-color: var(--color-dark);
    --button-text-color: var(--color-white);
}

.btn-contained:hover, .btn-contained:hover {
    --button-background-color: var(--color-dark-light);
    --button-border-color: var(--color-dark-light);
}

.btn-contained.btn-primary {
    --button-background-color: var(--color-primary);
    --button-border-color: var(--color-primary);
    --button-text-color: var(--color-white);
}

.btn-contained.btn-primary:hover, .btn-contained.btn-primary:hover {
    --button-background-color: var(--color-primary-light);
    --button-border-color: var(--color-primary-light);
}

.btn-contained.btn-warn {
    --button-background-color: var(--color-warn);
    --button-border-color: var(--color-warn);
    --button-text-color: var(--color-black);
}

.btn-contained.btn-warn:hover, .btn-contained.btn-warn:hover {
    --button-background-color: var(--color-warn-light);
    --button-border-color: var(--color-warn-light);
}

.btn-contained.btn-danger {
    --button-background-color: var(--color-danger);
    --button-border-color: var(--color-danger);
    --button-text-color: var(--color-white);
}

.btn-contained.btn-danger:hover, .btn-contained.btn-danger:hover {
    --button-background-color: var(--color-danger-light);
    --button-border-color: var(--color-danger-light);
}

.btn-contained:disabled, .btn-contained.disabled {
    --button-background-color: var(--color-dark-lighter);
    --button-border-color: var(--color-dark-lighter);
    --button-text-color: var(--color-white);
    pointer-events: none;
}