<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>

    <link rel="stylesheet" href="../../base/base.css">
    <link rel="stylesheet" href="buttons.css">
</head>

<body class="container">
    <header>
        <h1 class="text-display-2">
            Buttons
        </h1>
    </header>

    <hr>

    <section>
        <h2 class="text-headline">
            Simple Text Buttons
        </h2>

        <button class="btn">Text</button>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-warn">Warn</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn" disabled>Disabled</button>
        <a class="btn">Link</a>
        <a class="btn disabled">Link</a>
       
        <xmp></xmp>
        <xmp>
            <button class="btn">Text</button>
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-warn">Warn</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn" disabled>Disabled</button>
            <a class="btn">Link</a>
            <a class="btn disabled">Link</a>
        </xmp>
    </section>

    <section>
        <h2 class="text-headline">
            Outlined Buttons
        </h2>

        <button class="btn-outline">Text</button>
        <button class="btn-outline btn-primary">Primary</button>
        <button class="btn-outline btn-warn">Warn</button>
        <button class="btn-outline btn-danger">Danger</button>
        <button class="btn-outline" disabled>Disabled</button>
        <a class="btn-outline">Link</a>
        <a class="btn-outline disabled">Link</a>

        <xmp>
            <button class="btn-outline">Text</button>
            <button class="btn-outline btn-primary">Primary</button>
            <button class="btn-outline btn-warn">Warn</button>
            <button class="btn-outline btn-danger">Danger</button>
            <button class="btn-outline" disabled>Disabled</button>
            <a class="btn-outline">Link</a>
            <a class="btn-outline disabled">Link</a>
        </xmp>
    </section>

    <section>
        <h2 class="text-headline">
            Contained Buttons
        </h2>

        <button class="btn-contained">Text</button>
        <button class="btn-contained btn-primary">Primary</button>
        <button class="btn-contained btn-warn">Warn</button>
        <button class="btn-contained btn-danger">Danger</button>
        <button class="btn-contained" disabled>Disabled</button>
        <a href="#" class="btn-contained">Link</a>
        <a class="btn-contained disabled">Link</a>

        <xmp>
            <button class="btn-contained">Text</button>
            <button class="btn-contained btn-primary">Primary</button>
            <button class="btn-contained btn-warn">Warn</button>
            <button class="btn-contained btn-danger">Danger</button>
            <button class="btn-contained" disabled>Disabled</button>
            <a href="#" class="btn-contained">Link</a>
            <a class="btn-contained disabled">Link</a>
        </xmp>
    </section>


</body>

</html>