<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Buttons</h1>
    </header>
    <div class="btn">
        <a href="#" id="enabled">enabled</a>

        <a href="#" id="hovered">hovered</a>
        <a href="#" id="focused">focused</a>
        <a href="#" id="presed">presed</a>

        <a disabled="disabled" id="disabledbutton">disable</a>


    </div>

</body>

</html>