<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="buttons.css">
</head>

<body>
    <header>
        <h1>Buttons</h1>
    </header>

    <section>
        <h2>Text</h2>

        <button class="btn">Text</button>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-warn">Warn</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn" disabled>Disabled</button>
        <a class="btn">Link</a>
        <a class="btn disabled">Link</a>
    </section>

    <section>
        <h2>Outlined</h2>

        <button class="btn-outline">Text</button>
        <button class="btn-outline btn-primary">Primary</button>
        <button class="btn-outline btn-warn">Warn</button>
        <button class="btn-outline btn-danger">Danger</button>
        <button class="btn-outline" disabled>Disabled</button>
        <a class="btn-outline">Link</a>
        <a class="btn-outline disabled">Link</a>
    </section>

    <section>
        <h2>Contained</h2>
    </section>


    <div class="btn">
        <a href="#" id="enabled">enabled</a>

        <a href="#" id="hovered">hovered</a>
        <a href="#" id="focused">focused</a>
        <a href="#" id="presed">presed</a>

        <a disabled="disabled" id="disabledbutton">disable</a>


    </div>


</body>

</html>