body{background-color:  #D8D8D8;}

.btn a{
    display: inline-block;
    padding: 6px 10px; 
    
    font-size: large;
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica';
    border-radius: 6px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: ease-in-out 0.3s;
    
}
/*.........................................*/
#enabled{
    color: #6200EE;   
}
#enabled:hover{
    color:rgb(64, 3, 150);
    text-shadow: -3px 3px 10px rgb(255, 255, 255);
}

/*.........................................*/
#hovered{
    background-color: rgb(241, 241, 241);
    color:#37B799; 
}
#hovered:hover{
    background-color: #37B799;
    color:rgb(241, 241, 241);
}


/*.........................................*/
#focused{
    background-color:rgb(241, 241, 241);
    color:rgb(250, 198, 67);  
}
#focused:focus{
    background-color: rgb(250, 198, 67);
    color:rgb(241, 241, 241);
}


/*.........................................*/
#presed{
    background-color:rgb(241, 241, 241);
    color: #E3257E;
    margin-left: 10px;
    margin-left: 10px;
    box-shadow: 0px 3px 10px #000;
    
}
#presed:hover{
    background-color: rgb(228, 85, 152);
    color:rgb(241, 241, 241);
}
#presed:focus{
    background-color: rgb(170, 0, 79);
    color:rgb(255, 251, 251);
}


/*.........................................*/
#disabledbutton{
    background-color:none;
    color:#9E9E9E;
    border-color: none;
}




