<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="game.css">
    <link rel="stylesheet" href="../../base/text-theme.css">
    <link rel="stylesheet" href="../../ui-components.css">
</head>
<body>
    <main>
        <div class="nav_app">
            <h1>UTPL RANK</h1>
            <section class="botones">
                <button class="text-button button button-warn">Inicio</button>
                <button class="text-button button">Modalidades de juego</button>
                <button class="text-button button">Tematicas</button>
                <button class="text-button button-outline button-primary">aplicacion</button>
            </section>
                
        </div>
        <div class="header_app">
            <div class="info_head">
                <div class="header_detail">
                    <h5>Practica para la prueba de admicion UTPL</h5>
                    <h1>Juega y estudia</h1>
                    <div><button class="text-button button-contained button-primary">Visita la aplicacion</button></div>
                </div>
            </div>
            <div class="header_box">
                
                <img src="Group 11.png" />
            </div>
        </div>
        <div class="body_app">
            <div class="mode">
                <div class="modeSub">
                    <img src="Group 28.png">
                    <h1> Modalidades de juego</h1>
                </div>
                <div class="separate"></div>
                <div class="area">Modalidades</div>
    
            </div>
            <div class="playmode alone">
                <div class="play_icon">
                    <img class="img_mode " src="solo2.png" alt="">
                </div>
                <div class="play_info">
                    <h2>Individual</h2>
                    <h4>Practicas de 15 preguntas acerca de una temátca en espceifico </h4>
                </div>
    
            </div>
            <div class="playmode mult">
                <div class="play_info ">
                    <h2>Partida multijugador</h2>
                    <h4>Compite con tu amigos para connocer quien es el mejor </h4>
                </div>
                <div class="play_icon mult">
                    <img class="img_mode " src="multi.png" alt="">
                </div>
    
    
            </div>
            <div class="mode">
                <div class="modeSub">
                    <img src="Group 28.png">
                    <h1> Empieza!</h1>
                </div>
    
                <div class="separate"></div>
                <div class="area">Empieza a jugar</div>
    
            </div>
    
        </div>
        <div class="container_opc">
            <div class="navopc">
                <div>
                    <div class="icon_opc">
                        <a href="#"><img src="ingresa.png" alt=""></a>
                        
                    </div>
                   
                </div>
                <div>
                    <div class="icon_opc">
                        <a href="#"><img src="cuenta.png" alt=""></a>
                        
                    </div>
                  
                </div>
                <div >
                    <div class="icon_opc">
                        <a href=""><img src="partida.png" alt=""></a>
                        
                    </div>
                    
                </div>
                <div class="item_opc">
                    <div class="icon_opc">
                        <a href=""><img src="juega2.png" alt=""></a>
                        
                    </div>
                    
                </div>
            </div>
            <div class="goGame"></div>
        </div>
        <div class="footer">
            <div class="container_end">
                <div class="item"> <img src="Group 27.png"> <h2>Woodies</h2></div>
                <div class="item"><h2>Product</h2></div>
                <div class="item"><h2>Resource</h2></div>
                <div class="item"><h2>Commpany</h2></div>
                <div class="item"><h2>Follow Us</h2></div>
                <div class="item contact">(012) 9182 23322</div>
                <div class="item"><a href="">Furnitures</a></div>
                <div class="item"><a href="">Blog</a></div>
                <div class="item"><a href="">Abaut Us</a></div>
                <div class="item"><a href="">Facebook</a></div>
                <div class="item contact">woodies@gmailcom</div>
                <div class="item"><a href="">Packages</a></div>
                <div class="item"><a href="">FAQs</a></div>
                <div class="item"><a href="">Jobs</a></div>
                <div class="item"><a href="">Instagram</a></div>
                <div class="item contact">Jakarta Indonesia</div>
                <div class="item"><a href="">Services</a></div>
                <div class="item"><a href="">Contact Us</a></div>
                <div class="item"><a href="">Our team</a></div>
                <div class="item"><a href="">Twiter</a></div>
            </div>
    
            <img src="pexels-photo-509922 1lol.png" alt="">
    
            
    
        </div>
        <div id="foot">
            © 2020 WOODIES
        </div>
    
        </div>
        
    </main>
</body>
</html>