.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-items: stretch;
    width: 100%;
}

.list-item:hover {
    background-color: var(--color-low-contrast);
}

.list-item:focus {
    background-color: var(--color-reduce-contrast);
}

.list-item--content {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: var(--space-3) var(--space-4);
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.list-item--content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--color-reduce-contrast);
}

.list-item--content>*:first-child, .list-item--content>*:not(:last-child) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-item--icon, .list-item--avatar, .list-item--image {
    margin: var(--space-2) var(--space-4);
    align-self: center;
}

.list-item--icon+.list-item--content, .list-item--avatar+.list-item--content, .list-item--image+.list-item--content, .list-item--large-image+.list-item--content {
    padding-left: 0;
}

.list-item--large-image {
    margin: var(--space-2) var(--space-4) var(--space-2) 0;
    align-self: center;
}

.list-item--content .list-item--content-multiple {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: pre-wrap;
}