.chip {
    display: flex;
    align-items: center;
    width: min-content;
    padding: var(--space-1) var(--space-2);
    border-radius: 99999px;
    background: var(--color-reduce-contrast);
}

.chip>*:not(:last-child) {
    margin-right: var(--space-1);
}

.chip>button {
    background: none;
    padding: 0;
    border: none;
    line-height: 0;
}

.chip-hover:hover:not(:disabled), .chip-hover:hover:not(:disabled), .chip-hover:hover:not(:disabled), .chip-hover:hover:not(:disabled), .chip-hover:hover:not(.disabled), .chip-hover:hover:not(.disabled), .chip-hover:hover:not(.disabled), .chip-hover:hover:not(.disabled) {
    color: var(--color-black);
    background: var(--color-hover);
}

.chip-focus:focus:not(:disabled), .chip-focus:focus:not(:disabled), .chip-focus:focus:not(:disabled), .chip-focus:focus:not(:disabled), .chip-focus:focus:not(.disabled), .chip-focus:focus:not(.disabled), .chip-focus:focus:not(.disabled), .chip-focus:focus:not(.disabled) {
    background-color: var(--color-focus);
}

.chip.disabled {
    color: var(--color-low-contrast);
    pointer-events: none;
    background-color: transparent;
    border: none;
}