<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection Controls</title>
    <link rel="stylesheet" type="text/css" href="../../ui-components.css">
    <script src="https://kit.fontawesome.com/fa1c616d6e.js" crossorigin="anonymous"></script>
</head>

<header>

</header>

<body class="container">
    <header>
        <h3 class="text-title">
            Material Desing
        </h3>
        <h1 class="text-diplay-2">
            Selection Controls
        </h1>

        <br>
        <hr>
    </header>

    <!--//////////////////////////////////////////-->
    <!-----Checkboxes(Selected)----->
    <h2 class="text-headline">
        Checkboxes
    </h2>
    <br>
    <br>
    <br>
    <br>
    <label class="checkbox">
        <input type="checkbox">
        <div class="icon">
            <i class="fas fa-check"></i>
        </div>
        <span class="checkbox-label">Enabled</span>
    </label>
    <label class="checkbox checkbox-accent">
        <input type="checkbox">
        <div class="icon">
            <i class="fas fa-check"></i>
        </div>
        <span class="checkbox-label">Enabled</span>
    </label>
    <br>
    <br>
    <br>
    <br>

    <!--//////////////////////////////////////////-->
    <!-----Radio Buttons(Selected)----->
    <h2 class="text-headline">
        Radio Buttons
    </h2>


    <br>
    <form>
        <label class="radio">
            <input type="radio" name="radio">
            Enabled
        </label>
        <label class="radio hover">
            <input type="radio" name="radio">
            Hover
        </label>
        <label class="radio">
            <input type="radio" name="radio">
            Focussed
        </label>
        <label class="radio">
            <input type="radio" name="radio">
            Pressed
        </label>
        <label class="radio">
            <input type="radio" name="radio" disabled>
            Disabled
        </label>
    </form>
    <br>


    <br>

    <!--//////////////////////////////////////////-->
    <!-----Switchers Buttons(Selected)----->
    <h2 class="text-headline">
        Toggles Buttons
    </h2>
    <section>

        <label class="switch">
            <input type="checkbox" id="togBtn">
            <div class="slider round">
            </div>
        </label>

        <label class="switch">
            <input type="checkbox" id="togBtn">
            <div class="slider round">
            </div>
        </label>

        <label class="switch">
            <input type="checkbox" id="togBtn">
            <div class="slider round">
            </div>
        </label>

        <label class="switch">
            <input type="checkbox" id="togBtn">
            <div class="slider round">
            </div>
        </label>

        <label class="switch">
            <input type="checkbox" id="togBtn">
            <div class="slider round">
            </div>
        </label>

    </section>
</body>

</html>