
/*///////////////////////////////*/
/*//////////// Checkboxes ////////////*/
/*///////////////////////////////*/



/*///////////////////////////////*/
/*//////////// Radio ////////////*/
/*///////////////////////////////*/
.custom-radio-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: arial;
}


.custom-radio-checkbox__show--radio {
    background-image: url(radio-uncheck.png);
}


.custom-radio-checkbox > .custom-radio-checkbox__input {
    display: none;
}


.custom-radio-checkbox > .custom-radio-checkbox__show {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: .5rem;
    background-size: cover;
}


.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--radio {
    background-image: url(radio-check.png);
}



/*///////////////////////////////*/
/*//////////// Switch ////////////*/
/*///////////////////////////////*/

.switch{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}
  
.switch input {
    display:none;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    
    top: 0;
    left: 0;
    right: 0;
    
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.14);
    
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    content: "";
    
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    
    bottom: 4px;
    
    background-color:  #6200EE;
    
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgba(98, 0, 238, 0.38);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.38);;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}