body,html{
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 100%;
}
.contend_inf{
    display: flex;
    flex-direction: column;
    width: 864px;
    margin: auto;
    
}
.info_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info_nav{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

  .info_activities{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
  }
 
  .item{
    display: flex;
    flex-direction: column; 
    flex: auto;
    margin: 20px;
  }