.snackbar-base {
  color: #ffff;
  background: rgb(31, 31, 31);
  border-radius: 4px;
  font-size: 20px;
  padding: 16px;
  font-family: roboto;
  width: 364px;
  display: flex;
}

.snackbar-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.single-line-snackbar {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snackbar-row .btn {
  margin-left: 8px;
}

.snackbar-column {
  flex-direction: column;
  align-items: stretch;
}

.snackbar-column .btn {
  align-self: flex-end;
}

