<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Tooltip
    </title>
    <link rel="stylesheet" type="text/css" href="../../ui-components.css">

</head>

<body class="container">
    <header>
        <h1 class="text-display-2">
            Tooltips
        </h1>
    </header>
    <br>
    <h2 class="text-hedline">
        Tooltip
    </h2>
    <br>
    <section>

        <div class="tooltip tooltip-top" data-tooltip="Hello there">
            Top
        </div>
        <br>
        <br>
        <div class="tooltip tooltip-bottom" data-tooltip="I'm a tooltip">
            Bottom
        </div>
        <br>
        <br>
        <div class="tooltip tooltip-left" data-tooltip="I'm a looonnnnggg tooltip">
            Left
        </div>
        <br>
        <br>
        <div class="tooltip tooltip-right" data-tooltip="I'm a looonnnnggg tooltip">
            Right
        </div>

        <xmp>
            <div class="tooltip tooltip-top" data-tooltip="Hello there">
                Top
            </div>
            <div class="tooltip tooltip-bottom" data-tooltip="I'm a tooltip">
                Bottom
            </div>
            <div class="tooltip tooltip-left" data-tooltip="I'm a looonnnnggg tooltip">
                Left
            </div>
            <div class="tooltip tooltip-right" data-tooltip="I'm a looonnnnggg tooltip">
                Right
            </div>
        </xmp>

    </section>

</body>

</html>