<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tooltip.css">
</head>

<body>
    <header>
        <h1>Tooltips</h1>
    </header>

    <section>
        <h2>Tooltip</h2>
    </section>

    <section>
        <div class="tooltip">
            Caption
            <span class="tooltiptext">Helouda</span>
        </div>

        <div class="tooltip" data-tooltip="I'm a tooltip">Hello World</div>

        <div class="tooltip" data-tooltip="I'm a looonnnnggg tooltip">Hello World</div>
    </section>

</body>

</html>