body {
    background-color: #D8D8D8;
}


.tooltip {
    position: relative;
    display: inline-block;
    padding: 5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.589);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
}

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 150%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
