.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 54px 1fr;
    grid-template-areas: 'sidebar top-bar' 'sidebar main';
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 0 0 16px 0;
    z-index: 50;
}

.sidebar .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    color: white;
}

.sidebar .user>*:not(:last-child) {
    margin-bottom: 20px;
}

.sidebar .user .username {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .user a {
    color: white;
}

.sidebar .avatar {
    border-radius: 9999px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.sidebar .navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    padding: 40px 20px;
    border-top: 1px dotted white;
}

.sidebar .navigation i {
    width: 30px;
    text-align: center;
    margin-right: 16px;
}

.sidebar .navigation .logout {
    margin-top: auto;
}

.sidebar .navigation>*:not(:last-child) {
    margin-bottom: 10px;
}

.top-bar {
    grid-area: top-bar;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 40;
}

.top-bar .breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-bar .breadcrumbs>*:not(:last-child) {
    margin-right: 4px;
}

.main-content {
    grid-area: main;
    width: 100%;
    height: 100%;
}