.content{
    display: flex;
    flex-direction: row;
}
.content-one{
    display: block;
    flex-direction: column;
    background: var(--color-primary);
    height: 990px;
    width: 305px;
    flex-grow: 1;
}

.circle{
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}



.content-two{
    height: 45px;
    width: 100%;
    background-color: var(--color-base-lighter);
  
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.contenido{
    display:flex;
    align-items: center;
}

.button-class{
    justify-content: space-around;
    align-items: center;
    
}

.final-button-final{
    display: flexbox;
    flex-direction: column-reverse;
    align-items: center;
}
.final-final{
    text-align: start;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 1;
    
}


