/*----FAB----*/

.fab {
    --fab-padding: var(--space-4);
    --fab-background-color: var(--color-accent);
    display: inline-block;
    padding: var(--fab-padding);
    background-color: var(--fab-background-color);
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 9999px;
}

/*----FAB MINI----*/

.mini-fab {
    --fab-padding: var(--space-2);
}

/*----FAB EXTENDED----*/

.extended-fab {
    --extended-fab-inner-margin: var(--space-2);
    --fab-padding: var(--space-4) var(--space-6);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: min-content;
}

.extended-fab>*:not(:last-child) {
    margin-right: var(--extended-fab-inner-margin);
}