<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fabs.css">
</head>

<body>
    <header>
        <h1>Buttons</h1>
    </header>

    <section>
        <h2>Fab</h2>
        <button class="fab">🎉</button>
        <button class="fab fab-primary">🎉</button>
        <button class="fab fab-accent">🎉</button>
        <button class="fab fab-warn">🎉</button>
        <button class="fab fab-danger">🎉</button>
        <button class="fab fab-variant">🎉</button>
        <a class="fab">🎉</a>
    </section>

    <section>
        <h2>Mini Fab</h2>
        <button class="mini-fab">🎁</button>
        <button class="mini-fab mini-primary">🎁</button>
        <button class="mini-fab mini-accent">🎁</button>
        <button class="mini-fab mini-warn">🎁</button>
        <button class="mini-fab mini-danger">🎁</button>
        <button class="mini-fab mini-variant">🎁</button>
        <a class="mini-fab">🎁</a>
    </section>

    <section>
        <h2>Extended Fab</h2>
        <button class="extended-fab">
            <div class="icon">🚀</div> Text
        </button>
        <button class="extended-fab extended-primary">
            <div class="icon">🚀</div> Text
        </button>
        <button class="extended-fab extended-accent">
            <div class="icon">🚀</div> Text
        </button>
        <button class="extended-fab extended-warn">
            <div class="icon">🚀</div> Text
        </button>
        <button class="extended-fab extended-danger">
            <div class="icon">🚀</div> Text
        </button>
        <button class="extended-fab extended-variant">
            <div class="icon">🚀</div> Text
        </button>
        <a class="extended-fab">
            <div class="icon">🚀</div> Text
        </a>
    </section>

</body>

</html>