<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabs</title>

    <link rel="stylesheet" type="text/css" href="../../ui-components.css">
    <style>
        header {
            margin: var(--space-4) auto;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid var(--color-base);
        }

        section {
            margin-top: var(--space-10);
            margin-bottom: var(--space-10);
        }
    </style>
</head>

<body class="container">
    <header>
        <h1 class="text-display-2">Fabs Buttons</h1>
    </header>

    <section>
        <h2 class="text-headline">
            Fab
        </h2>

        <button class="fab transition-shadow shadow-3 hover:shadow-24 text-button">🎉</button>
        <a class="fab transition-shadow shadow-3 hover:shadow-24 text-button">🎉</a>

        <xmp>
            <button class="fab transition-shadow shadow-3 hover:shadow-24 text-button">🎉</button>
            <a class="fab transition-shadow shadow-3 hover:shadow-24 text-button">🎉</a>
        </xmp>
    </section>

    <section>
        <h2 class="text-headline">
            Mini Fab
        </h2>

        <button class="fab mini-fab transition-shadow shadow-3 hover:shadow-12 text-button">🎁</button>
        <a class="fab mini-fab transition-shadow shadow-3 hover:shadow-12 text-button">🎁</a>

        <xmp>
            <button class="fab mini-fab transition-shadow shadow-3 hover:shadow-12 text-button">🎁</button>
            <a class="fab mini-fab transition-shadow shadow-3 hover:shadow-12 text-button">🎁</a>
        </xmp>
    </section>

    <section>
        <h2 class="text-headline">
            Extended Fab
        </h2>

        <button class="fab extended-fab text-button transition-shadow shadow-3 hover:shadow-12">
            <div class="icon">🚀</div>
            <span>
                Text
            </span>
        </button>
        <a class="fab extended-fab text-button transition-shadow shadow-3 hover:shadow-12">
            <div class="icon">🚀</div>
            <span>
                Text
            </span>
        </a>

        <xmp>
            <button class="fab extended-fab text-button transition-shadow shadow-3 hover:shadow-12">
                <div class="icon">🚀</div>
                <span>
                    Text
                </span>
            </button>
            <a class="fab extended-fab text-button transition-shadow shadow-3 hover:shadow-12">
                <div class="icon">🚀</div>
                <span>
                    Text
                </span>
            </a>
        </xmp>
    </section>

</body>

</html>