<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fabs.css">
</head>

<body>
    <header>
        <h1>Buttons</h1>
    </header>

    <section>
        <h2>Fab</h2>
        <button class="fab">🎉</button>
        <button class="fab fab-primary">🎉</button>
        <button class="fab fab-warn">🎉</button>
        <button class="fab fab-danger">🎉</button>
        <a class="fab">🎉</a>
    </section>

    <section>
        <h2>Mini Fab</h2>

        <button class="mini-fab">🎁</button>
    </section>

    <section>
        <h2>Extended Fab</h2>

        <button class="extended-fab">🚀 Text</button>
    </section>


</body>

</html>