.dropdown {
    --dropdown-content-width: 200px;
    --dropdown-content-background-color: var(--color-white);
    --dropdown-content-border-radius: var(--space-1);
    --dropdown-item-padding: var(--space-3) var(--space-4);
    --dropdown-item-inner-space: var(--space-2);
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdown-content {
    z-index: 1200;
    position: absolute;
    background-color: var(--dropdown-content-background-color);
    width: var(--dropdown-content-width);
    border-radius: var(--dropdown-content-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-content.dropdown-left {
    left: 0;
}

.dropdown:hover .dropdown-content.dropdown-right {
    right: 0;
}

.dropdown .dropdown-content {
    display: none;
}

.dropdown-content .dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--dropdown-item-padding);
    text-decoration: none;
    background-color: var(--dropdown-content-background-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
    background-color: var(--color-reduce-contrast);
}

.dropdown-content .dropdown-item>*:not(:last-child) {
    margin-right: var(--dropdown-item-inner-space);
}

.dropdown-item .item-label {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}