@import url('./text-theme.css');
@import url('./utils.css');
:root {
    --text-white: #ffffff;
    --color-white: #ffffff;
    --color-base-dark: #5100c2;
    --color-base: #6200EE;
    --color-base-light: #6300ee70;
    --color-primary-dark: #008080;
    --color-primary: #008080;
    --color-primary-light: #00808026;
    --color-accent: #d1b932;
    --color-error: #80001c;
    --color-enable: #21212114;
    --color-hover: #00000014;
    --color-focus: #0000001f;
    --color-black: #000000;
    --color-disabled: #00000061;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
}