@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
body {
    --default-text-color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    color: var(--default-text-color);
}

.text-display-4 {
    font-weight: 300;
    font-size: 6rem;
}

.text-display-3 {
    font-weight: 300;
    font-size: 3.75rem;
}

.text-display-2 {
    font-weight: 400;
    font-size: 3rem;
}

.text-display-1 {
    font-weight: 400;
    font-size: 2.125rem;
}

.text-headline {
    font-weight: 400;
    font-size: 1.5rem;
}

.text-title {
    font-weight: 400;
    font-size: 1.25rem;
}

.text-subhead {
    font-weight: 700;
    font-size: 1.125rem;
}

.text-subtitle {
    font-weight: 600;
    font-size: 0.875rem;
}

.text-body2 {
    font-weight: 700;
    font-size: 1rem;
}

p, .text-body1 {
    font-weight: 400;
    font-size: 1rem;
}

.button, .button-outline, .button-contained, .text-button {
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none;
}

small, .text-caption, .tooltip[data-tooltip]::before {
    font-weight: 500;
    font-size: 0.75rem;
}

.text-overline {
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
}

/* text colores */

.text-primary {
    color: var(--color-primary);
}

.text-accent {
    color: var(--color-accent);
}

.text-warn {
    color: var(--color-warn);
}

.text-danger {
    color: var(--color-danger);
}

.text-low-contrast {
    color: var(--color-low-contrast);
}

.text-high-contrast {
    color: var(--color-high-contrast);
}

.text-reduce-contrast {
    color: var(--color-high-contrast);
}

/* text utilities */

.text-truncate {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}