<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ficha.css">
    <link rel="stylesheet" href="../../base/text-theme.css">
</head>

<body>
<img src="icon-UTPL.jpg" width="40%">
    <div class="contenedor">
        <h3>FICHA DE ACOMPAÑAMIENTO MENTORIAL</h3>
        <div class="Header_proyect">
            <table >
                <tr>
                    <th>PROYECTO</td>
                </tr>
                <tr>
                    <td>Estudiantes mentores para alumnos de nuevo ingreso Modalidad Presenciales</td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="mentor-data">
            <table>
                <tr>
                    <th>Estudiante mentor:</th>
                    <td colspan="3">Alonso Jamil Cedillo Balcazar</td>
                </tr>
                <tr>
                    <th>Area mentor:</th>
                    <td colspan="3">Área Biológica y Biomédica</td>
                </tr>
                <tr>
                    <th>Titulacion del mentor:</th>
                    <td colspan="3">Medicina</td>
                </tr>
                <tr>
                    <th>Nombres del estudiante de nuevo ingreso:</th>
                    <td colspan="3">Bautista Valarezo Domenica Muriel</td>
                </tr>
                <tr>
                    <th>Titualacion del estudiante:</th>
                    <td>Medicina</td>
                    <th>Área del estudiante</th>
                    <td>Área Biológica y Biomédica</td>
                </tr>
                <tr>
                    <th rowspan="2">Periodo Académico:</th>
                    <td rowspan="2">Abril - Agosto 2020</td>
                    <th>Estudiante de primer ciclo</th>
                    <td>x</td>
                </tr>
                <tr>
                    <th>Estudiante segundo ciclo</th>
                    <td></td>
                </tr>
            </table>

        </div>
        <hr>
        <caption>ACOMPAÑAMINETO DURANTE EL PRIMER BIMESTRE </caption>
        <hr>
        <!--    Detalle 1 -->
        <div class="detail">
            <table>

                <tr>
                    <th colspan="2">Fecha</th>

                    <th colspan="2">Problemas encontrados</th>

                    <th width="175px">Temas desarrollados</th>
                    <th width="130px">Descripción</th>
                    <th width="200px">Soluciones</th>
                    <th>Confirmacion</th>
                </tr>
                <tr>
                    <td rowspan="3" colspan="2"> 26 Abril 2020</td>

                    <td>Académicos</td>
                    <td>x</td>
                    <td rowspan="5">Primera reunión de acompañamiento memorial</td>
                    <td rowspan="5">No se escuchan las clases por fallas de internet</td>
                    <td rowspan="5">Pedir a Los profesores que graben las clases y que envíen los links para revisarlas
                    </td>
                    <td>5 - Excelente</td>
                </tr>
                <tr>
                    <td>Administrativos</td>
                    <td>x</td>
                    <td rowspan="4">Firma: Bautista Valarezo Domenica Muriel</td>

                </tr>
                <tr>


                    <td>Economicos</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Presencial</td>
                    <td>x</td>
                    <td>Psicosociales</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Presencial</td>
                    <td></td>
                    <td>Ninguno</td>
                    <td></td>

                </tr>
            </table>

        </div>

        <!--    Detalle 2 -->

        <div class="detail">
            <table>

                <tr>
                    <th colspan="2">Fecha</th>

                    <th colspan="2">Problemas encontrados</th>

                    <th width="175px">Temas desarrollados</th>
                    <th width="130px">Descripción</th>
                    <th width="200px">Soluciones</th>
                    <th>Confirmacion</th>
                </tr>
                <tr>
                    <td rowspan="3" colspan="2"> 14 Junio 2020</td>

                    <td>Académicos</td>
                    <td>x</td>
                    <td rowspan="5">Evaluar resultados académicos del primer bimestre</td>
                    <td rowspan="5">Problemas de conexión a internet afecta pruebas y tareas.<br><br>Pruebas de
                        validación de inglés.<br><br>Alternativas para agilizar la realización de pruebas</td>
                    <td rowspan="5">Realizar captura de pantalla o tomar fotos cuando falle el internet para demostrarle
                        al docente el problema.<br><br>Informar sobre el proceso de validación de inglés<br><br>Utilizar
                        atlas de anatomía y videos para repasar preguntas de identificación de imagenes </td>
                    <td>Seguimiento sin validar.</td>
                </tr>
                <tr>
                    <td>Administrativos</td>
                    <td>x</td>
                    <td rowspan="4">Firma: Bautista Valarezo Domenica Muriel</td>

                </tr>
                <tr>


                    <td>Economicos</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Presencial</td>
                    <td>x</td>
                    <td>Psicosociales</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Presencial</td>
                    <td></td>
                    <td>Ninguno</td>
                    <td></td>

                </tr>
            </table>

        </div>


    </div>

</body>

</html>